.banner-container {
  width: 375px;
  height: 189px;
  background: url("../assets/banner.png");
  background-size: contain;
  background-repeat: no-repeat;

  .title{
    position: relative;
    top: 40px;
    left: 28px;

    height: 34px;
    width: 155px;
    color: #002D41;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
  }

  .text {
    position: relative;
    top: 45px;
    left: 45px;
    height: 30px;
    width: 169px;
    color: #002D41;
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
  }

  .button {
    position: relative;
    top: 45px;
    left: 45px;
    height: 30px;
    width: 100px;
    border-radius: 100px;
    background-color: #01BF8C;
  }

  .start-button {
    position: relative;
    top: 15px;
    left: 29px;

    height: 30px;
    width: 100px;

    height: 18px;
    width: 45px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0;
  }
}
