.product-profile-image {
  width: 200px;
  border-radius: 10px;
}

.text-title-bold-name {
  color: #597393;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 35px;
}

.text-title {
  height: 36px;
  color: #597393;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 15px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 100%;
}

.relative-icon {
  position: relative;
  top: 20px;
  left: 30px;
}

.co2-container {
  width: 80px;
  height: 80px;
  background-color: #01BF8C;
  border-radius: 45px;
  border: 3px solid #008f69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
