.product-profile-image {
  width: 280px;
  border-radius: 10px;
}

.text-title-bold-name {
  color: #597393;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 35px;
}

.text-title {
  height: 36px;
  color: #597393;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 15px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 100%;
}

.relative-icon {
  position: relative;
  top: 20px;
  left: 30px;
}

.co2-container {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 45px;
  border: 2px solid #8f0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.new-text {
  height: 144px;
  width: 331px;
  color: #002D41;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.34px;
  line-height: 18px;
}

.new-text-description {
  height: 18px;
  width: 80px;
  color: #002D41;
  font-family: "Montserrat Semi-Bold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.34px;
  line-height: 18px;
}
